/*body {
	background-color: lightblue;
}

.button_type_start {
	padding: 15px;
	border: 0;
	font-weight: bold;
	color: #E3E3E4;
	background-color: #1F1F21;
}*/

ul { list-style: none; }
		#recordingslist audio { display: block; margin-bottom: 10px; }
