body {
	background-color: lightblue;
}

.button_type_start,
.button_type_upload {
	padding: 15px;
	border: 0;
	font-weight: bold;
	color: #E3E3E4;
	background-color: #1F1F21;
	cursor: pointer;
}

.button_type_upload {
	padding: 0;
}

.link_type_upload {
	padding: 15px;
	color: #E3E3E4;
	text-decoration: none;
}

a {
	display: block;
}

canvas {
	display: inline-block;
	background: #202020;
	width: 500px;
	height: 200px;
	box-shadow: 0px 0px 10px blue;
}

#viz {
	display: none;
}
